.DS_Store
.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# cache
/__pycache__/*
./Rapport_PyAurion.docx
ngrok.exe*
/py_app/__pycache__/*
/py_app/api/__pycache__/*

Dockerfile*
fly*
Procfile*