<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
        <title>Planning</title>
    </head>
    <body>
        <table>
        <tr>
        {%for i in range(plan|length)%}
                <td>{{ (datetime.strptime((plan[i]["start"]), "%Y-%m-%dT%H:%M:%S%z")).strftime("%A") }}</td>
        {%endfor%}    
        </tr>
        <tr>
        {%for i in range(plan|length)%}
                <td>{{ plan[i]["title"] }}</td>
        {%endfor%} 
        </table>
    </body>
</html>