<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  /> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="container navbar-collapse justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
                <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
                <a href="{{ url_for('login') }}" class="navbar-brand">Login</a>
                <a href="{{ url_for('notes') }}" class="navbar-brand">Notes</a>
                <a href="{{ url_for('moyennes') }}" class="navbar-brand">Moyennes</a>
            </nav>
          </div>

        <div class="container body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2022</p>
            </footer>
        </div>
    </body>
</html>
