{% extends "layout.html" %}
{% block title %}
Moyennes
{% endblock %}
{% block content %}
    <!-- <h3>Méthode 1 (attention, peut-etre des notes manquantes pour le moment !)</h3>
    <p>Moyenne en maths : {{moyennes[0]}}</p>
    <p>Moyenne en physique : {{moyennes[1]}}</p>
    <p>Moyenne en informatique : {{moyennes[2]}}</p>
    <p>Moyenne en développement perso et tout : {{moyennes[3]}}</p> -->

    <!-- <h3>Méthode 2 (théoriquement + viable, avec toutes les notes)</h3> -->
    <h4>J'ai enlevé l'autre méthode pour éviter les confusions </h4>
    <h4 style="color: red;">MAIS je maintiens que ce ne sont que mes calculs et non les moyennes officielles!!!</h4>
    <p>Moyenne en maths : {{moyennes2[0]}}</p>
    <p>Moyenne en physique : {{moyennes2[1]}}</p>
    <p>Moyenne en informatique : {{moyennes2[2]}}</p>
    <p>Moyenne en développement perso et tout : {{moyennes2[3]}}</p>
{% endblock %}