<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>PyAurion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="../static/site.css" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style>
    .center .login .co {
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 30px;
      width: calc(100% - 40px);
      margin: 20px 20px 0;
      outline: none;
      /* background-color: #243946; */
      color: #fff;

      font-size: 32px;
      text-align: center;
    }

    .center .login .login-button {
      margin: 10px 20px 0;
    }
  </style>

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="center">
    <form action="/plann">
      <div class="login">
        <div class="co">Connecté !</div>
        <button class="login-button" onclick="loadingEyes()">Voir le planning</button>
      </div>
    </form>
    <form action="/notee">
      <div class="login">
        <button class="login-button" >Voir les notes</button>
      </div>
    </form>
    <form action="/notees">
      <div class="login">
        <button class="login-button" >Voir ALL notes</button>
      </div>
    </form>
    <form action="/abs">
      <div class="login">
        <button class="login-button" >Voir les absences</button>
      </div>
    </form>

</body>

</html>