<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>PyAurion</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<meta charset='utf-8' />

	<link rel="stylesheet" href="../static/fullcalendar2.css" />
	<link rel="stylesheet" href="../static/site.css" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<!-- ✅ load jQuery ✅ -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<!-- ✅ load moment.js ✅ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
		integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- ✅ load FullCalendar ✅ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"
		integrity="sha512-o0rWIsZigOfRAgBxl4puyd0t6YKzeAw9em/29Ag7lhCQfaaua/mDwnpE2PVzwqJ08N7/wqrgdjc2E0mwdSY2Tg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.5/dist/locale-all.min.js"></script>

	<style>
		.fc-list-heading td {
			font-weight: 0;
		}

		.fc-list-view {
			border-width: 0px;
		}

		.fc-unthemed .fc-divider,
		.fc-unthemed .fc-list-heading td,
		.fc-unthemed .fc-popover .fc-header {
			background: rgba(238, 238, 238, 0);
		}

		.fc-unthemed .fc-list-empty {
			background-color: none;
		}

		.center .login {
			top: 92px;
		}

		.fc-scroller {
			height: 320px;
		}
	</style>

	<script>
		// var today = new Date();
		// var today = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
		var today = moment().toDate();
		$(document).ready(function () {

			$('#calendar').fullCalendar({
				height: 370,
				header: {
					left: 'prev,next today',
					right: 'title'
					// center: 'title',
					// right: 'agendaDay,agendaWeek,month'
				},
				locale: "fr",
				eventDurationEditable: false,
				eventStartEditable: false,
				eventLimit: true, // allow "more" link when too many events
				defaultDate: today,

				defaultView: 'listDay',
				// defaultView: 'agendaWeek',
				timeFormat: 'H:mm',
				nowIndicator: true,
				minTime: "08:00:00",
				maxTime: "21:00:00",


				hiddenDays: [0],
				events: {
					url: '/data',
					// error: function () {
					// 	$('#script-warning').show();
					// }

				},
				loading: function (bool) {
					$('#loading').toggle(bool);
				}
			});

		});
	</script>

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="center">
		<div class="ear ear--left"></div>
		<div class="ear ear--right"></div>

		<div class="login">
			<div id='script-warning'>
				Error getting data from <code>/data</code> endpoint.
			</div>

			<div id='loading'>loading...</div>

			<div id='calendar'>
			</div>
		</div>

		<!-- partial -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js'></script>
		<script>
			let usernameInput = document.querySelector('.username');
			let passwordInput = document.querySelector('.password');
			let showPasswordButton = document.querySelector('.password-button');
			let face = document.querySelector('.face');

			passwordInput.addEventListener('focus', event => {
				document.querySelectorAll('.hand').forEach(hand => {
					hand.classList.add('hide');
				});
				document.querySelector('.tongue').classList.remove('breath');
			});

			passwordInput.addEventListener('blur', event => {
				document.querySelectorAll('.hand').forEach(hand => {
					hand.classList.remove('hide');
					hand.classList.remove('peek');
				});
				document.querySelector('.tongue').classList.add('breath');
			});

			usernameInput.addEventListener('focus', event => {
				let length = Math.min(usernameInput.value.length - 16, 19);
				document.querySelectorAll('.hand').forEach(hand => {
					hand.classList.remove('hide');
					hand.classList.remove('peek');
				});

				face.style.setProperty('--rotate-head', `${-length}deg`);
			});

			usernameInput.addEventListener('blur', event => {
				face.style.setProperty('--rotate-head', '0deg');
			});

			usernameInput.addEventListener('input', _.throttle(event => {
				let length = Math.min(event.target.value.length - 16, 19);

				face.style.setProperty('--rotate-head', `${-length}deg`);
			}, 100));

			showPasswordButton.addEventListener('click', event => {
				if (passwordInput.type === 'text') {
					passwordInput.type = 'password';
					document.querySelectorAll('.hand').forEach(hand => {
						hand.classList.remove('peek');
						hand.classList.add('hide');
					});
				} else {
					passwordInput.type = 'text';
					document.querySelectorAll('.hand').forEach(hand => {
						hand.classList.remove('hide');
						hand.classList.add('peek');
					});
				}
			});
		</script>

		<style>
			div.mainbutton:nth-child(1) {
				position: absolute;
				left: 61px;
			}

			div.mainbutton:nth-child(2) {
				position: absolute;
				right: 80px;
			}

			div.mainbutton:nth-child(1) {
				width: 70px;
				font-size: 120%;
				color: white;
				justify-content: center;
				text-align: center;
				display: flex;
			}

			div.mainbutton:nth-child(1)>a:nth-child(1) {
				display: flex;
				list-style: none;
				color: white;
				text-decoration: none;
			}

			div.mainbutton:nth-child(1)>a:nth-child(1)>p:nth-child(1) {
				position: relative;
				margin: auto;
			}
		</style>

		<div class="bottom">

			<div class="mainbutton">
				<a href="../reload">
					<p>Reload</p>
				</a>
			</div>
			<div class="mainbutton">
				<a href="../ome">
					<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%"
						style="fill: rgba(255, 255, 255, 1);">
						<path
							d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm9-8.586 6 6V15l.001 5H6v-9.586l6-6z">
						</path>
						<path
							d="M12 18c3.703 0 4.901-3.539 4.95-3.689l-1.9-.621c-.008.023-.781 2.31-3.05 2.31-2.238 0-3.02-2.221-3.051-2.316l-1.899.627C7.099 14.461 8.297 18 12 18z">
						</path>
					</svg>
				</a>
			</div>

		</div>
	</div>
</body>

</html>